header {
   display: flex;
   justify-content: space-between;
   margin: 20px 0;
}

.high-score a {
   font-size: 1.5rem;
   margin-left: 20px;
}

.timer {
   font-size: 1.5rem;
   margin-right: 20px;
}

.welcome section {
   text-align: center;
   margin: 0 20%;
   border-color: blueviolet;
   border-style: groove;
   border-radius: 10px;
}

.title {
   font-size: 2rem;
   font-weight: bolder;
   margin: 20px;
}

.start-btn {
   margin: 20px;
   width: 150px;
   height: 45px;
   font-size: 18px;
   background-color: #FA8BFF;
   background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
   background-size: 1px 100px;
   background-position: 0 -10px;
   border-radius: 10px;
}

.start-btn:hover {
   background-position: 1px -50px;
}

#qContainer {
   border-style: groove;
   border-radius: 20px;
   border-color: darkred;
   height: 400px;
   margin: 10px 10%;
}

.btn-grid {
   display: grid;
}

.hide {
   display: none;
}

